@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.dark-theme {
  background-color: #2e2e2e;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  // background-color: white;
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 20px 20px 20px #fc0;

  @media (max-width: 600px) {
    padding: 0.5rem 1rem;
  }
}

.header-title-comp {
  display: flex;
  justify-content: content;
  align-items: center;
}

.header-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;

  @media (max-width: 600px) {
    font-size: 1.1rem;
  }
}

.header-icon {
  width: 50px;
  height: 50px;
}

.profile {
  // opacity: 0.1;
  @media (min-width: 550px) {
    width: 500px;
  }

  width: 95%;
  margin: auto;
}

.data-list {
  list-style-type: none;

  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
}

li {
  @media (min-width: 600px) {
    padding: 0.5rem 0;
  }
  padding: 0.2rem 0;
}

.grid {
  @media (min-width: 900px) {
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
}

.grid-details {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 600px) {
    min-height: 500px;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
  // background-color: white;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 600px) {
    justify-content: flex-end;
  }
}

.about-me {
  padding: 1rem 4rem;
  @media (max-width: 600px) {
    padding: 0.5rem 2rem;
  }

  .about-me-title {
    text-align: center;

    font-size: 3rem;
    padding: 1.5rem 0;

    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .desc {
    @media (min-width: 600px) {
      font-size: 1.2rem;
    }

    div {
      padding: 0.2rem;
    }
  }
}

.gallery {
  padding: 0.5rem 4rem;
  @media (min-width: 600px) {
    padding: 0.5rem 1rem;
  }

  .gallery-title {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;

    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
}

.slider-image {
  width: 90%;
  margin: auto;
  border-radius: 50%;
  // opacity: 0.1;
}

.projects,
.hobbies {
  padding: 0.5rem 4rem;
  @media (max-width: 900px) {
    padding: 0.5rem 1rem;
  }
  .projects-title,
  .hobbies-title {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .project {
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    padding: 2rem;

    .project-title {
      padding: 1rem 0;
      @media (min-width: 600px) {
        font-size: 2rem;
      }

      font-size: 1.3rem;
      text-transform: uppercase;
    }

    .project-link,
    .project-subtitle {
      a {
        color: black;
      }
    }

    .project-desc {
      padding: 1rem 0;
    }
  }
}

@mixin hobby-mixin {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 280px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.65rem;
  color: white;
  font-weight: bold;
  margin: 0.85rem;

  @media (max-width: 340px) {
    width: 90%;
    margin: auto;
  }
}

.hobbies-group {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .hobby-dance {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/dance.jpg");
    @include hobby-mixin;
  }

  .hobby-hiking {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/hiking.jpg");
    @include hobby-mixin;
  }

  .hobby-poem {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/poems.jpg");
    @include hobby-mixin;
  }

  .hobby-debate {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/debate.jpg");
    @include hobby-mixin;
  }

  .hobby-event {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)),
      url("./images/hobbies/event-organise.jpg");
    @include hobby-mixin;
  }

  .hobby-food {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/food.jpg");
    @include hobby-mixin;
  }

  .hobby-teaching {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/teaching.jpg");
    @include hobby-mixin;
  }

  .hobby-yoga {
    background: linear-gradient(0deg, rgba(46, 42, 44, 0.3), rgba(15, 5, 43, 0.3)), url("./images/hobbies/yoga.jpg");
    @include hobby-mixin;
  }
}

button {
  border: 2px solid #8f2b5b;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  outline: 0 !important;
}

.pb-5 {
  padding-bottom: 5rem;
}
